n8n-monitor-whatsapp.json
{
  "name": "Monitor WhatsApp - Detectar Desconexões",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/whatsapp_connections?status=eq.connected&last_connected_at=not.is.null&select=user_id,instance_name",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "buscar-conectados",
      "name": "Buscar Conectados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        300
      ],
      "notesInFlow": true,
      "notes": "Busca usuários que JÁ conectaram e ainda estão como connected"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.EVOLUTION_API_URL}}/instance/connectionState/{{ $json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "checar-status",
      "name": "Checar Status Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-desconectado",
              "leftValue": "={{ $json.instance?.state }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filtro-desconectado",
      "name": "Desconectou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/whatsapp_connections?user_id=eq.{{ $('Buscar Conectados').item.json.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"disconnected\" }",
        "options": {}
      },
      "id": "atualizar-wc",
      "name": "Atualizar whatsapp_connections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        200
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/mensallizap?user_id=eq.{{ $('Buscar Conectados').item.json.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"conectado\": false }",
        "options": {}
      },
      "id": "atualizar-mz",
      "name": "Atualizar mensallizap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{ $env.ADMIN_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $env.ADMIN_WHATSAPP_NUMBER }}\",\n  \"text\": \"⚠️ *WhatsApp desconectou*\\n\\nInstância: {{ $('Buscar Conectados').item.json.instance_name }}\\nUser ID: {{ $('Buscar Conectados').item.json.user_id }}\\n\\nO cliente precisa reconectar pelo sistema.\"\n}",
        "options": {}
      },
      "id": "avisar-admin",
      "name": "Avisar Admin no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1550,
        200
      ],
      "onError": "continueErrorOutput",
      "alwaysOutputData": true,
      "continueOnFail": true
    }
  ],
  "connections": {
    "A cada 1 hora": {
      "main": [
        [
          {
            "node": "Buscar Conectados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conectados": {
      "main": [
        [
          {
            "node": "Checar Status Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Status Evolution": {
      "main": [
        [
          {
            "node": "Desconectou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desconectou?": {
      "main": [
        [
          {
            "node": "Atualizar whatsapp_connections",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Atualizar whatsapp_connections": {
      "main": [
        [
          {
            "node": "Atualizar mensallizap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar mensallizap": {
      "main": [
        [
          {
            "node": "Avisar Admin no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}