n8n-workflows/agente-cobrancas-unificado.json
{
  "name": "MensalliZap - Cobranças Automatizadas (3 em 1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Disparo Diário (9h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/vw_parcelas_lembrete_3dias",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-3dias",
      "name": "1. Buscar 3 Dias Antes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/vw_parcelas_no_dia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-no-dia",
      "name": "2. Buscar No Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/vw_parcelas_em_atraso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-atraso",
      "name": "3. Buscar 3 Dias Depois",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// FLUXO 1: Parcelas com vencimento em 3 dias - Template pre_due_3days\n// CORRIGIDO: usa template fallback se nao encontrar template no banco\nconst FALLBACK_3DIAS = 'Olá, {{nomeCliente}}!\\n\\nSua mensalidade vence em 3 dias.\\n\\n💰 Valor: {{valorMensalidade}}\\n📆 Vencimento: {{dataVencimento}}\\n\\n🔑 Chave Pix: {{chavePix}}\\n\\nEvite juros e multas, pague em dia!\\n\\n_{{nomeEmpresa}}_';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let mensagem = data.template_mensagem;\n  if (!mensagem || mensagem.trim() === '') {\n    console.log(`${data.nome_cliente}: sem template pre_due_3days, usando fallback`);\n    mensagem = FALLBACK_3DIAS;\n  }\n\n  const variaveis = {\n    '{{nomeCliente}}': data.nome_cliente,\n    '{{valorMensalidade}}': `R$ ${parseFloat(data.valor_em_aberto).toFixed(2)}`,\n    '{{dataVencimento}}': new Date(data.data_vencimento).toLocaleDateString('pt-BR'),\n    '{{diasRestantes}}': data.dias_restantes || 3,\n    '{{nomeEmpresa}}': data.nome_empresa || 'Equipe',\n    '{{chavePix}}': data.chave_pix || ''\n  };\n\n  Object.entries(variaveis).forEach(([chave, valor]) => {\n    mensagem = mensagem.replace(new RegExp(chave, 'g'), valor);\n  });\n\n  let telefone = String(data.telefone || '').replace(/\\D/g, '');\n  if (!telefone.startsWith('55')) telefone = '55' + telefone;\n\n  results.push({\n    json: {\n      ...data,\n      mensagem,\n      telefone,\n      evolution_url: `${data.evolution_api_url}/message/sendText/${data.evolution_instance_name}`,\n      tipo_lembrete: '3dias_antes',\n      flag_campo: 'enviado_3dias'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "criar-msg-3dias",
      "name": "Criar Msg 3 Dias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// FLUXO 2: Parcelas com vencimento HOJE - Template due_day\n// CORRIGIDO: usa template fallback se nao encontrar template no banco\nconst FALLBACK_DIA = 'Olá, {{nomeCliente}}!\\n\\nHoje é o dia do vencimento da sua mensalidade.\\n\\n💰 Valor: {{valorMensalidade}}\\n💳 Pix para pagamento: {{chavePix}}\\n\\nQualquer dúvida, estamos à disposição!\\n\\n_{{nomeEmpresa}}_';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let mensagem = data.template_mensagem;\n  if (!mensagem || mensagem.trim() === '') {\n    console.log(`${data.nome_cliente}: sem template due_day, usando fallback`);\n    mensagem = FALLBACK_DIA;\n  }\n\n  const variaveis = {\n    '{{nomeCliente}}': data.nome_cliente,\n    '{{valorMensalidade}}': `R$ ${parseFloat(data.valor_em_aberto).toFixed(2)}`,\n    '{{dataVencimento}}': new Date(data.data_vencimento).toLocaleDateString('pt-BR'),\n    '{{nomeEmpresa}}': data.nome_empresa || 'Equipe',\n    '{{chavePix}}': data.chave_pix || ''\n  };\n\n  Object.entries(variaveis).forEach(([chave, valor]) => {\n    mensagem = mensagem.replace(new RegExp(chave, 'g'), valor);\n  });\n\n  let telefone = String(data.telefone || '').replace(/\\D/g, '');\n  if (!telefone.startsWith('55')) telefone = '55' + telefone;\n\n  results.push({\n    json: {\n      ...data,\n      mensagem,\n      telefone,\n      evolution_url: `${data.evolution_api_url}/message/sendText/${data.evolution_instance_name}`,\n      tipo_lembrete: 'no_dia',\n      flag_campo: 'enviado_no_dia'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "criar-msg-no-dia",
      "name": "Criar Msg No Dia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// FLUXO 3: Parcelas vencidas há 3 dias - Template overdue\n// CORRIGIDO: usa template fallback se nao encontrar template no banco\nconst FALLBACK_ATRASO = 'Olá, {{nomeCliente}}, como vai?\\n\\nNotamos que o pagamento da sua mensalidade (vencida em {{dataVencimento}}) ainda não consta em nosso sistema.\\n\\n💰 Valor: {{valorMensalidade}}\\n🔑 Chave Pix: {{chavePix}}\\n\\nSe você já realizou o pagamento, por favor desconsidere esta mensagem. 🙏\\n\\n_{{nomeEmpresa}}_';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let mensagem = data.template_mensagem;\n  if (!mensagem || mensagem.trim() === '') {\n    console.log(`${data.nome_cliente}: sem template overdue, usando fallback`);\n    mensagem = FALLBACK_ATRASO;\n  }\n\n  const variaveis = {\n    '{{nomeCliente}}': data.nome_cliente,\n    '{{valorMensalidade}}': `R$ ${parseFloat(data.valor_em_aberto).toFixed(2)}`,\n    '{{dataVencimento}}': new Date(data.data_vencimento).toLocaleDateString('pt-BR'),\n    '{{diasAtraso}}': data.dias_atraso || 3,\n    '{{nomeEmpresa}}': data.nome_empresa || 'Equipe',\n    '{{chavePix}}': data.chave_pix || ''\n  };\n\n  Object.entries(variaveis).forEach(([chave, valor]) => {\n    mensagem = mensagem.replace(new RegExp(chave, 'g'), valor);\n  });\n\n  let telefone = String(data.telefone || '').replace(/\\D/g, '');\n  if (!telefone.startsWith('55')) telefone = '55' + telefone;\n\n  results.push({\n    json: {\n      ...data,\n      mensagem,\n      telefone,\n      evolution_url: `${data.evolution_api_url}/message/sendText/${data.evolution_instance_name}`,\n      tipo_lembrete: 'atraso',\n      flag_campo: 'enviado_vencimento'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "criar-msg-atraso",
      "name": "Criar Msg Atraso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolution_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": {{ JSON.stringify($json.mensagem) }}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "includeInputFields": true,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "enviar-whatsapp-3dias",
      "name": "Enviar 3 Dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        200
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolution_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": {{ JSON.stringify($json.mensagem) }}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "includeInputFields": true,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "enviar-whatsapp-no-dia",
      "name": "Enviar No Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        400
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolution_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": {{ JSON.stringify($json.mensagem) }}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "includeInputFields": true,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "enviar-whatsapp-atraso",
      "name": "Enviar Atraso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        600
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Verificar resultado do envio - Fluxo 3 Dias\nconst items = $input.all();\nconst sucesso = [];\nconst falha = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const hasError = data.error || data.statusCode >= 400;\n  const errorMsg = data.error?.message || data.response?.message || 'Erro desconhecido';\n  const isConnectionClosed = errorMsg.includes('Connection Closed') || (data.statusCode === 500);\n\n  if (hasError) {\n    falha.push({\n      json: {\n        ...data,\n        envio_sucesso: false,\n        erro_mensagem: isConnectionClosed ? 'WhatsApp desconectado (Connection Closed)' : errorMsg,\n        erro_tipo: isConnectionClosed ? 'connection_closed' : 'outro'\n      }\n    });\n  } else {\n    sucesso.push({\n      json: {\n        ...data,\n        envio_sucesso: true\n      }\n    });\n  }\n}\n\n// Output 0 = sucesso, Output 1 = falha\nreturn [sucesso, falha];"
      },
      "id": "check-resultado-3dias",
      "name": "Check 3 Dias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ],
      "outputs": [
        "main",
        "main"
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verificar resultado do envio - Fluxo No Dia\nconst items = $input.all();\nconst sucesso = [];\nconst falha = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const hasError = data.error || data.statusCode >= 400;\n  const errorMsg = data.error?.message || data.response?.message || 'Erro desconhecido';\n  const isConnectionClosed = errorMsg.includes('Connection Closed') || (data.statusCode === 500);\n\n  if (hasError) {\n    falha.push({\n      json: {\n        ...data,\n        envio_sucesso: false,\n        erro_mensagem: isConnectionClosed ? 'WhatsApp desconectado (Connection Closed)' : errorMsg,\n        erro_tipo: isConnectionClosed ? 'connection_closed' : 'outro'\n      }\n    });\n  } else {\n    sucesso.push({\n      json: {\n        ...data,\n        envio_sucesso: true\n      }\n    });\n  }\n}\n\nreturn [sucesso, falha];"
      },
      "id": "check-resultado-no-dia",
      "name": "Check No Dia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ],
      "outputs": [
        "main",
        "main"
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verificar resultado do envio - Fluxo Atraso\nconst items = $input.all();\nconst sucesso = [];\nconst falha = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const hasError = data.error || data.statusCode >= 400;\n  const errorMsg = data.error?.message || data.response?.message || 'Erro desconhecido';\n  const isConnectionClosed = errorMsg.includes('Connection Closed') || (data.statusCode === 500);\n\n  if (hasError) {\n    falha.push({\n      json: {\n        ...data,\n        envio_sucesso: false,\n        erro_mensagem: isConnectionClosed ? 'WhatsApp desconectado (Connection Closed)' : errorMsg,\n        erro_tipo: isConnectionClosed ? 'connection_closed' : 'outro'\n      }\n    });\n  } else {\n    sucesso.push({\n      json: {\n        ...data,\n        envio_sucesso: true\n      }\n    });\n  }\n}\n\nreturn [sucesso, falha];"
      },
      "id": "check-resultado-atraso",
      "name": "Check Atraso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        600
      ],
      "outputs": [
        "main",
        "main"
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/mensalidades?id=eq.{{ $json.parcela_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"enviado_3dias\": true,\n  \"total_envios\": {{ ($json.total_envios || 0) + 1 }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "marcar-3dias",
      "name": "Marcar 3 Dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        150
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/mensalidades?id=eq.{{ $json.parcela_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"enviado_no_dia\": true,\n  \"total_envios\": {{ ($json.total_envios || 0) + 1 }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "marcar-no-dia",
      "name": "Marcar No Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        350
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/mensalidades?id=eq.{{ $json.parcela_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"enviado_vencimento\": true,\n  \"total_envios\": {{ ($json.total_envios || 0) + 1 }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "marcar-atraso",
      "name": "Marcar Atraso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        550
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"enviado\"\n}",
        "options": {}
      },
      "id": "log-3dias",
      "name": "Log 3 Dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"enviado\"\n}",
        "options": {}
      },
      "id": "log-no-dia",
      "name": "Log No Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"enviado\"\n}",
        "options": {}
      },
      "id": "log-atraso",
      "name": "Log Atraso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        550
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"falha\",\n  \"erro\": {{ JSON.stringify($json.erro_mensagem || 'Erro no envio automático') }}\n}",
        "options": {}
      },
      "id": "log-falha-3dias",
      "name": "Log Falha 3d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"falha\",\n  \"erro\": {{ JSON.stringify($json.erro_mensagem || 'Erro no envio automático') }}\n}",
        "options": {}
      },
      "id": "log-falha-no-dia",
      "name": "Log Falha Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"falha\",\n  \"erro\": {{ JSON.stringify($json.erro_mensagem || 'Erro no envio automático') }}\n}",
        "options": {}
      },
      "id": "log-falha-atraso",
      "name": "Log Falha Atr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        650
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/rpc/incrementar_uso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $json.user_id }}\"\n}",
        "options": {}
      },
      "id": "incrementar-3dias",
      "name": "Incrementar 3d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/rpc/incrementar_uso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $json.user_id }}\"\n}",
        "options": {}
      },
      "id": "incrementar-no-dia",
      "name": "Incrementar Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/rpc/incrementar_uso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $json.user_id }}\"\n}",
        "options": {}
      },
      "id": "incrementar-atraso",
      "name": "Incrementar Atraso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        550
      ]
    }
  ],
  "connections": {
    "Disparo Diário (9h)": {
      "main": [
        [
          {
            "node": "1. Buscar 3 Dias Antes",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. Buscar No Dia",
            "type": "main",
            "index": 0
          },
          {
            "node": "3. Buscar 3 Dias Depois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Buscar 3 Dias Antes": {
      "main": [
        [
          {
            "node": "Criar Msg 3 Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Buscar No Dia": {
      "main": [
        [
          {
            "node": "Criar Msg No Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Buscar 3 Dias Depois": {
      "main": [
        [
          {
            "node": "Criar Msg Atraso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Msg 3 Dias": {
      "main": [
        [
          {
            "node": "Enviar 3 Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Msg No Dia": {
      "main": [
        [
          {
            "node": "Enviar No Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Msg Atraso": {
      "main": [
        [
          {
            "node": "Enviar Atraso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar 3 Dias": {
      "main": [
        [
          {
            "node": "Check 3 Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar No Dia": {
      "main": [
        [
          {
            "node": "Check No Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Atraso": {
      "main": [
        [
          {
            "node": "Check Atraso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 3 Dias": {
      "main": [
        [
          {
            "node": "Marcar 3 Dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Falha 3d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check No Dia": {
      "main": [
        [
          {
            "node": "Marcar No Dia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Falha Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Atraso": {
      "main": [
        [
          {
            "node": "Marcar Atraso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Falha Atr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar 3 Dias": {
      "main": [
        [
          {
            "node": "Log 3 Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar No Dia": {
      "main": [
        [
          {
            "node": "Log No Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Atraso": {
      "main": [
        [
          {
            "node": "Log Atraso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log 3 Dias": {
      "main": [
        [
          {
            "node": "Incrementar 3d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log No Dia": {
      "main": [
        [
          {
            "node": "Incrementar Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Atraso": {
      "main": [
        [
          {
            "node": "Incrementar Atraso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "MensalliZap",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-23T00:00:00.000Z",
  "versionId": "2"
}