n8n-workflows/agente-cobrancas-unificado.json
{
  "name": "MensalliZap - Cobranças Automatizadas (3 em 1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "5f53b548-3b36-48b5-b2da-535dcc2b695d",
      "name": "Disparo Diário (9h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1408, -112]
    },
    {
      "parameters": {
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/vw_parcelas_lembrete_3dias",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" }
          ]
        },
        "options": {}
      },
      "id": "4f7133c8-c67f-49c1-9f0c-14f4ecb45908",
      "name": "1. Buscar 3 Dias Antes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1152, -304],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/vw_parcelas_no_dia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" }
          ]
        },
        "options": {}
      },
      "id": "c7e7630e-ab86-4ead-be96-8206c212d66f",
      "name": "2. Buscar No Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1152, -112],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/vw_parcelas_em_atraso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" }
          ]
        },
        "options": {}
      },
      "id": "1f57840b-8d21-4ddd-8f74-c90886798fa2",
      "name": "3. Buscar 3 Dias Depois",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1152, 96],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FLUXO 1: Parcelas com vencimento em 3 dias - Template pre_due_3days\nconst FALLBACK_3DIAS = 'Olá, {{nomeCliente}}!\\n\\nSua mensalidade vence em 3 dias.\\n\\n💰 Valor: {{valorMensalidade}}\\n📆 Vencimento: {{dataVencimento}}\\n\\n🔑 Chave Pix: {{chavePix}}\\n\\nEvite juros e multas, pague em dia!\\n\\n_{{nomeEmpresa}}_';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let mensagem = data.template_mensagem;\n  if (!mensagem || mensagem.trim() === '') {\n    mensagem = FALLBACK_3DIAS;\n  }\n\n  const variaveis = {\n    '{{nomeCliente}}': data.nome_cliente,\n    '{{valorMensalidade}}': `R$ ${parseFloat(data.valor_em_aberto).toFixed(2)}`,\n    '{{dataVencimento}}': new Date(data.data_vencimento).toLocaleDateString('pt-BR'),\n    '{{diasRestantes}}': data.dias_restantes || 3,\n    '{{nomeEmpresa}}': data.nome_empresa || 'Equipe',\n    '{{chavePix}}': data.chave_pix || ''\n  };\n\n  Object.entries(variaveis).forEach(([chave, valor]) => {\n    mensagem = mensagem.replace(new RegExp(chave, 'g'), valor);\n  });\n\n  let telefone = String(data.telefone || '').replace(/\\D/g, '');\n  if (!telefone.startsWith('55')) telefone = '55' + telefone;\n\n  results.push({\n    json: {\n      ...data,\n      mensagem,\n      telefone,\n      evolution_url: `${data.evolution_api_url}/message/sendText/${data.evolution_instance_name}`,\n      tipo_lembrete: '3dias_antes',\n      flag_campo: 'enviado_3dias'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "de346a32-e32a-4ff8-8ce0-9367544ba755",
      "name": "Criar Msg 3 Dias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-896, -304],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FLUXO 2: Parcelas com vencimento HOJE - Template due_day\nconst FALLBACK_DIA = 'Olá, {{nomeCliente}}!\\n\\nHoje é o dia do vencimento da sua mensalidade.\\n\\n💰 Valor: {{valorMensalidade}}\\n💳 Pix para pagamento: {{chavePix}}\\n\\nQualquer dúvida, estamos à disposição!\\n\\n_{{nomeEmpresa}}_';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let mensagem = data.template_mensagem;\n  if (!mensagem || mensagem.trim() === '') {\n    mensagem = FALLBACK_DIA;\n  }\n\n  const variaveis = {\n    '{{nomeCliente}}': data.nome_cliente,\n    '{{valorMensalidade}}': `R$ ${parseFloat(data.valor_em_aberto).toFixed(2)}`,\n    '{{dataVencimento}}': new Date(data.data_vencimento).toLocaleDateString('pt-BR'),\n    '{{nomeEmpresa}}': data.nome_empresa || 'Equipe',\n    '{{chavePix}}': data.chave_pix || ''\n  };\n\n  Object.entries(variaveis).forEach(([chave, valor]) => {\n    mensagem = mensagem.replace(new RegExp(chave, 'g'), valor);\n  });\n\n  let telefone = String(data.telefone || '').replace(/\\D/g, '');\n  if (!telefone.startsWith('55')) telefone = '55' + telefone;\n\n  results.push({\n    json: {\n      ...data,\n      mensagem,\n      telefone,\n      evolution_url: `${data.evolution_api_url}/message/sendText/${data.evolution_instance_name}`,\n      tipo_lembrete: 'no_dia',\n      flag_campo: 'enviado_no_dia'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "891dcc00-9bc9-44cf-aabc-505e985f94c9",
      "name": "Criar Msg No Dia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-896, -112],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FLUXO 3: Parcelas vencidas - Template overdue\nconst FALLBACK_ATRASO = 'Olá, {{nomeCliente}}, como vai?\\n\\nNotamos que o pagamento da sua mensalidade (vencida em {{dataVencimento}}) ainda não consta em nosso sistema.\\n\\n💰 Valor: {{valorMensalidade}}\\n🔑 Chave Pix: {{chavePix}}\\n\\nSe você já realizou o pagamento, por favor desconsidere esta mensagem. 🙏\\n\\n_{{nomeEmpresa}}_';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let mensagem = data.template_mensagem;\n  if (!mensagem || mensagem.trim() === '') {\n    mensagem = FALLBACK_ATRASO;\n  }\n\n  const variaveis = {\n    '{{nomeCliente}}': data.nome_cliente,\n    '{{valorMensalidade}}': `R$ ${parseFloat(data.valor_em_aberto).toFixed(2)}`,\n    '{{dataVencimento}}': new Date(data.data_vencimento).toLocaleDateString('pt-BR'),\n    '{{diasAtraso}}': data.dias_atraso || 3,\n    '{{nomeEmpresa}}': data.nome_empresa || 'Equipe',\n    '{{chavePix}}': data.chave_pix || ''\n  };\n\n  Object.entries(variaveis).forEach(([chave, valor]) => {\n    mensagem = mensagem.replace(new RegExp(chave, 'g'), valor);\n  });\n\n  let telefone = String(data.telefone || '').replace(/\\D/g, '');\n  if (!telefone.startsWith('55')) telefone = '55' + telefone;\n\n  results.push({\n    json: {\n      ...data,\n      mensagem,\n      telefone,\n      evolution_url: `${data.evolution_api_url}/message/sendText/${data.evolution_instance_name}`,\n      tipo_lembrete: 'atraso',\n      flag_campo: 'enviado_vencimento'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "bd7af868-85a9-4779-bd8d-0660f56f35f7",
      "name": "Criar Msg Atraso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-896, 96],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Enviar WhatsApp item por item com try/catch (usa httpRequest nativo do n8n)\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n  if (i > 0) await new Promise(r => setTimeout(r, 1000));\n\n  try {\n    const body = await this.helpers.httpRequest({\n      method: 'POST',\n      url: data.evolution_url,\n      headers: { 'Content-Type': 'application/json', 'apikey': data.evolution_api_key },\n      body: { number: data.telefone, text: data.mensagem },\n      json: true\n    });\n\n    if (body?.key?.id) {\n      results.push({ json: { ...data, envio_sucesso: true, response_id: body.key.id } });\n    } else {\n      results.push({ json: { ...data, envio_sucesso: false, erro_mensagem: body?.message || 'Resposta sem key.id' } });\n    }\n  } catch (err) {\n    results.push({ json: { ...data, envio_sucesso: false, erro_mensagem: err.message || 'Erro de conexão' } });\n  }\n}\n\nreturn results;"
      },
      "id": "enviar-check-3dias",
      "name": "Enviar 3 Dias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-656, -304]
    },
    {
      "parameters": {
        "jsCode": "// Enviar WhatsApp item por item com try/catch (usa httpRequest nativo do n8n)\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n  if (i > 0) await new Promise(r => setTimeout(r, 1000));\n\n  try {\n    const body = await this.helpers.httpRequest({\n      method: 'POST',\n      url: data.evolution_url,\n      headers: { 'Content-Type': 'application/json', 'apikey': data.evolution_api_key },\n      body: { number: data.telefone, text: data.mensagem },\n      json: true\n    });\n\n    if (body?.key?.id) {\n      results.push({ json: { ...data, envio_sucesso: true, response_id: body.key.id } });\n    } else {\n      results.push({ json: { ...data, envio_sucesso: false, erro_mensagem: body?.message || 'Resposta sem key.id' } });\n    }\n  } catch (err) {\n    results.push({ json: { ...data, envio_sucesso: false, erro_mensagem: err.message || 'Erro de conexão' } });\n  }\n}\n\nreturn results;"
      },
      "id": "enviar-check-nodia",
      "name": "Enviar No Dia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-656, -112]
    },
    {
      "parameters": {
        "jsCode": "// Enviar WhatsApp item por item com try/catch (usa httpRequest nativo do n8n)\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n  if (i > 0) await new Promise(r => setTimeout(r, 1000));\n\n  try {\n    const body = await this.helpers.httpRequest({\n      method: 'POST',\n      url: data.evolution_url,\n      headers: { 'Content-Type': 'application/json', 'apikey': data.evolution_api_key },\n      body: { number: data.telefone, text: data.mensagem },\n      json: true\n    });\n\n    if (body?.key?.id) {\n      results.push({ json: { ...data, envio_sucesso: true, response_id: body.key.id } });\n    } else {\n      results.push({ json: { ...data, envio_sucesso: false, erro_mensagem: body?.message || 'Resposta sem key.id' } });\n    }\n  } catch (err) {\n    results.push({ json: { ...data, envio_sucesso: false, erro_mensagem: err.message || 'Erro de conexão' } });\n  }\n}\n\nreturn results;"
      },
      "id": "enviar-check-atraso",
      "name": "Enviar Atraso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-656, 96]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.envio_sucesso }}", "value2": "true" }
          ]
        }
      },
      "id": "if-3dias",
      "name": "Envio OK 3d?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-420, -304]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.envio_sucesso }}", "value2": "true" }
          ]
        }
      },
      "id": "if-nodia",
      "name": "Envio OK Dia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-420, -112]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.envio_sucesso }}", "value2": "true" }
          ]
        }
      },
      "id": "if-atraso",
      "name": "Envio OK Atr?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-420, 96]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/mensalidades?id=eq.{{ $json.parcela_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"enviado_3dias\": true,\n  \"total_envios\": {{ ($json.total_envios || 0) + 1 }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "6a1bbee9-1d93-467b-b4e1-d3824b155c3e",
      "name": "Marcar 3 Dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, -380],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/mensalidades?id=eq.{{ $json.parcela_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"enviado_no_dia\": true,\n  \"total_envios\": {{ ($json.total_envios || 0) + 1 }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "78316e16-acee-4468-98d1-632bb75457f2",
      "name": "Marcar No Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, -188],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/mensalidades?id=eq.{{ $json.parcela_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"enviado_vencimento\": true,\n  \"total_envios\": {{ ($json.total_envios || 0) + 1 }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "27af74f2-868c-4902-8eea-49d493845978",
      "name": "Marcar Atraso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, 20],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Envio OK 3d?').item.json.user_id }}\",\n  \"devedor_id\": \"{{ $('Envio OK 3d?').item.json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $('Envio OK 3d?').item.json.parcela_id }}\",\n  \"telefone\": \"{{ $('Envio OK 3d?').item.json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($('Envio OK 3d?').item.json.mensagem) }},\n  \"valor_mensalidade\": {{ $('Envio OK 3d?').item.json.valor_em_aberto }},\n  \"status\": \"enviado\"\n}",
        "options": {}
      },
      "id": "d3326300-cec2-45be-b783-b7884bf2405c",
      "name": "Log 3 Dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, -380],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Envio OK Dia?').item.json.user_id }}\",\n  \"devedor_id\": \"{{ $('Envio OK Dia?').item.json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $('Envio OK Dia?').item.json.parcela_id }}\",\n  \"telefone\": \"{{ $('Envio OK Dia?').item.json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($('Envio OK Dia?').item.json.mensagem) }},\n  \"valor_mensalidade\": {{ $('Envio OK Dia?').item.json.valor_em_aberto }},\n  \"status\": \"enviado\"\n}",
        "options": {}
      },
      "id": "14278136-8148-4166-a952-4c84e2420454",
      "name": "Log No Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, -188],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Envio OK Atr?').item.json.user_id }}\",\n  \"devedor_id\": \"{{ $('Envio OK Atr?').item.json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $('Envio OK Atr?').item.json.parcela_id }}\",\n  \"telefone\": \"{{ $('Envio OK Atr?').item.json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($('Envio OK Atr?').item.json.mensagem) }},\n  \"valor_mensalidade\": {{ $('Envio OK Atr?').item.json.valor_em_aberto }},\n  \"status\": \"enviado\"\n}",
        "options": {}
      },
      "id": "a8dfcfa4-5682-4e00-8968-a2a5b7be2ee4",
      "name": "Log Atraso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 20],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"falha\",\n  \"erro\": {{ JSON.stringify($json.erro_mensagem || 'Erro no envio') }}\n}",
        "options": {}
      },
      "id": "log-falha-3dias",
      "name": "Log Falha 3d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, -228],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"falha\",\n  \"erro\": {{ JSON.stringify($json.erro_mensagem || 'Erro no envio') }}\n}",
        "options": {}
      },
      "id": "log-falha-nodia",
      "name": "Log Falha Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, -36],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/logs_mensagens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"devedor_id\": \"{{ $json.devedor_id }}\",\n  \"mensalidade_id\": \"{{ $json.parcela_id }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem\": {{ JSON.stringify($json.mensagem) }},\n  \"valor_mensalidade\": {{ $json.valor_em_aberto }},\n  \"status\": \"falha\",\n  \"erro\": {{ JSON.stringify($json.erro_mensagem || 'Erro no envio') }}\n}",
        "options": {}
      },
      "id": "log-falha-atraso",
      "name": "Log Falha Atr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, 172],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/rpc/incrementar_uso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $('Envio OK 3d?').item.json.user_id }}\"\n}",
        "options": {}
      },
      "id": "283755c2-449a-4061-aab4-7fcd2412223f",
      "name": "Incrementar 3d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, -380],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/rpc/incrementar_uso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $('Envio OK Dia?').item.json.user_id }}\"\n}",
        "options": {}
      },
      "id": "99c26f28-d5aa-45a3-8857-b278b6238864",
      "name": "Incrementar Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, -188],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zvlnkkmcytjtridiojxx.supabase.co/rest/v1/rpc/incrementar_uso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2bG5ra21jeXRqdHJpZGlvanh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTk5MzEwNCwiZXhwIjoyMDgxNTY5MTA0fQ.akRZREO0U-O6eii2m9ZonpIqvFILZa51qhUjm1PhuZM" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $('Envio OK Atr?').item.json.user_id }}\"\n}",
        "options": {}
      },
      "id": "f780f34a-bb12-4bca-84e1-2180aef4fea3",
      "name": "Incrementar Atraso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 20],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Disparo Diário (9h)": {
      "main": [[
        { "node": "1. Buscar 3 Dias Antes", "type": "main", "index": 0 },
        { "node": "2. Buscar No Dia", "type": "main", "index": 0 },
        { "node": "3. Buscar 3 Dias Depois", "type": "main", "index": 0 }
      ]]
    },
    "1. Buscar 3 Dias Antes": { "main": [[{ "node": "Criar Msg 3 Dias", "type": "main", "index": 0 }]] },
    "2. Buscar No Dia": { "main": [[{ "node": "Criar Msg No Dia", "type": "main", "index": 0 }]] },
    "3. Buscar 3 Dias Depois": { "main": [[{ "node": "Criar Msg Atraso", "type": "main", "index": 0 }]] },
    "Criar Msg 3 Dias": { "main": [[{ "node": "Enviar 3 Dias", "type": "main", "index": 0 }]] },
    "Criar Msg No Dia": { "main": [[{ "node": "Enviar No Dia", "type": "main", "index": 0 }]] },
    "Criar Msg Atraso": { "main": [[{ "node": "Enviar Atraso", "type": "main", "index": 0 }]] },
    "Enviar 3 Dias": { "main": [[{ "node": "Envio OK 3d?", "type": "main", "index": 0 }]] },
    "Enviar No Dia": { "main": [[{ "node": "Envio OK Dia?", "type": "main", "index": 0 }]] },
    "Enviar Atraso": { "main": [[{ "node": "Envio OK Atr?", "type": "main", "index": 0 }]] },
    "Envio OK 3d?": {
      "main": [
        [{ "node": "Marcar 3 Dias", "type": "main", "index": 0 }],
        [{ "node": "Log Falha 3d", "type": "main", "index": 0 }]
      ]
    },
    "Envio OK Dia?": {
      "main": [
        [{ "node": "Marcar No Dia", "type": "main", "index": 0 }],
        [{ "node": "Log Falha Dia", "type": "main", "index": 0 }]
      ]
    },
    "Envio OK Atr?": {
      "main": [
        [{ "node": "Marcar Atraso", "type": "main", "index": 0 }],
        [{ "node": "Log Falha Atr", "type": "main", "index": 0 }]
      ]
    },
    "Marcar 3 Dias": { "main": [[{ "node": "Log 3 Dias", "type": "main", "index": 0 }]] },
    "Marcar No Dia": { "main": [[{ "node": "Log No Dia", "type": "main", "index": 0 }]] },
    "Marcar Atraso": { "main": [[{ "node": "Log Atraso", "type": "main", "index": 0 }]] },
    "Log 3 Dias": { "main": [[{ "node": "Incrementar 3d", "type": "main", "index": 0 }]] },
    "Log No Dia": { "main": [[{ "node": "Incrementar Dia", "type": "main", "index": 0 }]] },
    "Log Atraso": { "main": [[{ "node": "Incrementar Atraso", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "3c991c9b-891f-445d-9781-0f7c3355b991",
  "meta": {
    "instanceId": "28995d812f3b917ab8d4142680d07c35b77e0f4bb3edf6733a77c6cb3886e743"
  },
  "id": "gdPzIzuqTqVNyCWx",
  "tags": [
    {
      "updatedAt": "2026-01-16T18:03:52.562Z",
      "createdAt": "2026-01-16T18:03:52.562Z",
      "id": "9TgsVZASoBaCMZxW",
      "name": "MensalliZap"
    }
  ]
}